#square {
	width: 200px;
	height: 200px;
	background: rgb(0, 255, 106);
	margin-top: -200px;
	margin-left: -200px;
	position: fixed;
	top: 50%;
	left: 50%;
}

#letterA {
	font-size: 2700%;
	position: relative;
	top: -150%;
	transition: 0.5s;
}

#letterA :active, #letterA.active{
	transition-delay: ease-in 1s;
	transition-duration: 1s;
	transform: translateX(-400px) scale(0.5) translateY(-650px);
}

#aadvark {
	width: 10%;
	top: 50%;
	left: 50%;
	position: fixed;
	margin-top: 200px;
	margin-left: 100px;
}
