#circle {
	width: 200px;
	height: 200px;
	background: rgb(98, 0, 255);
	margin-top: -200px;
	margin-left: -200px;
	position: fixed;
	top: 50%;
	left: 50%;
}

h1 {
	font-size: 2700%;
	position: relative;
	top: -150%;
}