body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-size: 10%;
	background-image: url("../images/finished/painted_white.png");
	background-repeat: no-repeat;
	background-size: 4000px;
}

p {
	font-size: 5vw;
	position: relative;
	left: 300px;
	top: 10px;
	padding-right: 100px;
	width: 70%;
	height: 50%;
}