body, html{
	width: 100%;
	margin: 0;
	background-color: rgb(255, 248, 236);
}
.fixed-top {
	padding: 70px;
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 2;
}

/*.bg-image {
	height: 2100px;
	width: 1800px;
	background-repeat: no-repeat;
	background-size: 1800px;
}*/

.bg-image {
	height: 110%;
	width: 110%;
	background-size: 300px 300px;
}


.img1 {
	background-image: url("../images/finished/storyroom_inside_oily.jpg");
	background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*#Red_Book {
	width: 400px;
	padding-top: 1500px;
	padding-left: 500px;
	animation: myframes 2s, ease-in-out 0s infinite;
	animation-iteration-count: infinite;
}

	@keyframes myframes {
		0% {
			transform: translateX(0);
		}
		50% {
			transform: translateX(200px);
		}
		100% {
			transform: translateX(0);
		}

	}*/

	#Red_Book {
		position: relative;
		width: 30%;
		height: 30%;
		padding-top: 60%;
		padding-left: 100px;
		animation: myframes 2s, ease-in-out 0s infinite;
		animation-iteration-count: infinite;
	}

	
		@keyframes myframes {
			0% {
				transform: translateX(0);
			}
			50% {
				transform: translateX(200px);
			}
			100% {
				transform: translateX(0);
			}

		}